
<header class="topbar">

    <div class="logo">
        🏏 CRIC<span style="color: #20c77a;">BET</span>
    </div>


    <nav class="nav-links">

        <a href="/">
            Home
        </a>

        <a href="#live">
            Live
        </a>

        <a href="/">
            Cricket
        </a>

    </nav>


    <div class="guest-menu">

        <a
            href="/login"
            class="nav-btn login-btn"
        >
            Login
        </a>


        <a
            href="/register"
            class="nav-btn register-btn"
        >
            Register
        </a>

    </div>

</header>

